/* css file for Cozy Tea */

body{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

header{
display: flex;
align-items: center;
flex-direction: row;
position: fixed;
z-index: 1;
height: 69px;
width: 100%;
border: 1px solid white;
background-color: black;
}

a{
  color: white;
  font-weight: bold;
}

.logo img{
margin-top: 12px;
width: 150px;
height: 50px;
margin-right: 850px;
border: 1px solid white;
}

nav span{
  padding-right: 25px;
  align-items: flex-end;
  border: 1px solid white;
}


/* Main Container */
.main-container{
display: flex;
flex-direction: column;
}


/* Box-1 Section */
.box-1{
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  width: 1200px;
  height: 700px;
  border: 1px solid white;
  justify-content: center;
  align-items: center;
}


.image-content{
  display: flex;
  flex-direction:
}

.box-1.image-content{
  background-image: url('../../Resources/Images/img-jar-of-colorful-stuff.jpg');
}
